
  script src="http://code.highcharts.com/highcharts.js"
  script src="http://code.highcharts.com/modules/exporting.js"

  .class = "row"
  .class ="large-12-columns", style= "display: block; margin:auto"
      = image_tag("world-series-ninja.png")

  .class = "row"
  .class = "large-4-columns"

    = form_tag("/home", method: "get") do
      = select("team1", "team_id",
        Team.where(league: League.where(name:"National")).collect {|p| [ p.name, p.id ] },
        {prompt: 'Select National League Team'},
        { class: 'chosen-select'})

      = select("team2", "team_id",
        Team.where(league: League.where(name:"American")).collect {|p| [ p.name, p.id ] },
        {prompt: 'Select American League Team'},
        { class: 'chosen-select'})

    = submit_tag("Submit")

  - if @combined_odds %>
    .class = "row"
      .class = "large-4 columns"
        = image_tag(@team_1_logo)

      .class = "large-4 columns"
        h2 The odds of this series happening are <%= "#{@combined_odds}" %>/1

      .class = "large-4 columns"
        = image_tag(@team_2_logo)

  .class="row"
    #id="container" class="large-6 columns"
    #id="stadium_container" class ="large-6 columns"

javascript:
  $(function () {
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Predicted TV audience (in millions)'
        },
        subtitle: {
            text: 'Source: Wikipedia.org'
        },
        xAxis: {
            categories: ["Four Game Series", "Five Game Series", "Six Game Series", "Seven Game Series"],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Population (millions)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' millions'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Viewers',
            data: [<%= @four_game_viewership %>,
              <%= @five_game_viewership %>,
              <%= @six_game_viewership %>,
              <%= @seven_game_viewership %>
              ]
        }]
    });
  });

javascript:
  $(function () {
    $('#stadium_container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Predicted Total Live Attendence'
        },
        subtitle: {
            text: 'Source: Wikipedia.org'
        },
        xAxis: {
            categories: ["Four Game Series", "Five Game Series", "Six Game Series", "Seven Game Series"],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Attendance',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' millions'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Attendees',
            data: [<%= @four_game_attendence %>,
              <%= @five_game_attendence %>,
              <%= @six_game_attendence %>,
              <%= @seven_game_attendence %>
              ]
        }]
    });
  });
